
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  font-size: 34px;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.logo_signup{
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    align-items: center;
    padding: 0 150px;

}

.btn-primary {
    background-color: #4E47FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.text-align-center {
    text-align: center;
}
.main-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    width: 905px;
    height: 152px;
    text-align: center;
    margin: 0 auto;
    padding-top: 158px;
}
.stay-focused {
    padding-top: 37px;
}
.main{
    margin-top: 0px;
    max-height: 698px;
    width: 100%;
    background-image: url('image/Hero-bg.png');
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
}
/* body styles */
body {
    background-color: #f5f6fa;
}
.action {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 200px;
    padding: 0 141px;
    gap: 220px;
}
.image-preview {
    border-radius: 48px; 
    overflow: hidden;
}
.secondary-color{
    color: #55545e;
}
.text-content {
    width: 517px;
}

/* Productive User Styles */
.stats-section {
    margin: 0 auto;
    margin-top: 116px;
    width: 856px;
    height: 250px;
    padding: 50px 142px;
    border-radius: 20px;
    background-color: #fff;
}
.stats-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stat-item [class="value"]{
    font-size: 97px;
    color: #4E47FF;
}
.stat-item [class="label"] {
    font-size: 24px;
    color: #55545e;
}
/* Reviewer Styles */
.testimonials-section {
    margin: 0 auto;
    width: 1140px;
    height: 342px;
    padding: 137px 152px;
}
.review-title-top{
    margin-bottom: 50px;
}
.review-card{
    padding: 24px;
    width: 350px;
    background-color: #fff;
    border-radius: 14px;
}

.reviewer{
    display: flex;
    align-items: center;
    gap: 20px;
}
.avatar-image {
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
}
.review-title{
    padding-top: 20px;
    padding-bottom: 10px;
}
.reviewer{
    padding-top: 20px;
}
.review-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
/*focus section styles */
.focus-section {
    margin: 0 auto;
    width: 950px;      
    height: 450px;
    padding: 100px 152px;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.focus-section > * {
    margin: 16px 0;
}

a {
    text-decoration: none;
}

.image-container-focus img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
}