
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 34px;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.logo_signup{
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    align-items: center;
    padding: 0 150px;

}

.btn-primary {
    background-color: #4E47FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.text-align-center {
    text-align: center;
}
.main-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    width: 905px;
    height: 152px;
    text-align: center;
    margin: 0 auto;
    padding-top: 158px;
}
.stay-focused {
    padding-top: 37px;
}
.main{
    margin-top: 0px;
    max-height: 698px;
    width: 100%;
    background-image: url('image/Hero-bg.png');
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
}
.action {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 200px;
    padding: 0 141px;
    gap: 220px;
}
.image-preview {
    border-radius: 48px; 
    overflow: hidden;
}
.secondary-color{
    color: #55545e;
}
.text-content {
    width: 517px;
}